.App {  
    img{
        position: absolute;
        z-index: -50;
    }
    main{ 
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;  
    }
} 